---
name: qdtoday
slug: qdtoday
version: 20240210
image: ghcr.io/solarflows/qd
description: "QD —— 一个HTTP请求定时任务自动执行框架 base on HAR Editor and Tornado Server"
url: https://github.com/qd-today/qd
init: false
codenotary: fireflows@cock.li
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
webui: "[PROTO:http]://[HOST]:[PORT:8923]"
ports:
  80/tcp: 8923
ports_description:
  80/tcp: 'QD Web UI port'
map:
  - config:rw
  - ssl:ro
startup: application
boot: manual
