name: alist-tvbox
slug: alist-tvbox
version: '840.2048'
image: ghcr.io/solarflows/xiaoya-tvbox
description: "AList proxy server for TvBox, support playlist and search."
url: https://github.com/solarflows/HomeAssistant-Addons
init: false
codenotary: fireflows@cock.li
arch:
  - aarch64
  - amd64
panel_icon: mdi:television-box
webui: "[PROTO:http]://[HOST]:[PORT:4567]"
ports:
  4567/tcp: 4567
  80/tcp: 5344
ports_description:
  4567/tcp: 'Manager Web UI port'
  80/tcp: 'Alist Web UI port'
startup: application
environment:
  no_proxy: "*.aliyundrive.com"
  ALIST_PORT: "5344"
  INSTALL: "xiaoya"
  MEM_OPT: "-Xmx512M"
boot: manual
